<!DOCTYPE html>
<html data-ng-app="movieStubApp">

<head>
    <title>Movie Stub - Book Movie Tickets Online</title>
    <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="css/bootstrap-theme.min.css">
    <script type="text/javascript" src="js/lib/angular.min.js"></script>
    <script type="text/javascript" src="js/lib/jquery.min.js"></script>
    <script type="text/javascript" src="js/lib/bootstrap.min.js"></script>
    <script type="text/javascript" src="js/controller/app.js"></script>
</head>

<body class="container" data-ng-controller="movieStubController">
<h1>Movie Stub</h1>
<h4>Book Movie Tickets Online</h4>
<hr />
<div class="row">
    <div class="col-xs-3">
        <h4>Tickets available for:</h4>
    </div>
    <div class="col-xs-3">
        <input class="form-control" type="text" placeholder="Search a movie" data-ng-model="search">
    </div>
</div>
<ul>
    <li data-ng-repeat="movie in movies | orderBy:'name':true | filter:search">
        {{movie.name | uppercase}}
        <a href="javascript:" data-ng-click="getMovieById(movie.id)">Availability</a>
    </li>
</ul>
<br/>
<label data-ng-show="currMovie">Availabilty for {{currMovie.name}} is {{currMovie.availability}}</label>
</body>

</html>